/* 
Project Name: Lootok Style Guide
Client: Lootok
Author: Kevin Tripp
*/
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}


/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right; 
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left; 
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES                   
/*******************************************/

body {
     color: #000;
     font-size: 18px;
     line-height: 28px;
     font-family: times, Arial, sans-serif;
}
  h1
, h2
, h3
,.feature-headline
, nav
, .faq-holder
, .chart-label
, .service-label{
     font-family: "franklin gothic";
}
nav ul{
     font-family: times, arial, sans-serif;
}

h1{
     font-size: 60px;
     line-height: 58px;
}
.status-container.complete div > span{
     font-size: 54px;         
}
h2{
     font-size: 42px;
     line-height: 42px;
}
h3{
     font-size: 28px;
     line-height: 28px;
}
nav{
     font-size: 16px;
     line-height: 18px;
}
footer{
     line-height: 20px;
}
.service-label{
     font-size: 22px;
     line-height: 24px;
}
.status-container{
     font-size: 20px;
}
.chart-label
, .chart-label-reversed{
     font-size: 14px;
}

.note{
     font-style: italic;  
}
  a:hover
, .link-hover{
     text-decoration: underline;
}
  a:visited
, .link-visited{
     color: black;
     text-decoration: underline;
}
.banner
, #container {
     width: 80%;
     margin: 0 auto;
}

section{
     margin:20px auto;
}
.secondary-2-border{
     border-top: 10px solid #cabcc4;
}
.light-gray-border{
     border-top: 10px solid #f5f4f3;
}
.med-gray-border{
     border-top: 10px solid #a7a5a0;
     border-bottom: 10px solid #a7a5a0;
}
.box{
     margin: 10px;
     width: 50px;
     height: 50px;
     border: 1px solid black;
}
.color-title-bar{
     text-transform: uppercase;
}
section h3{
     padding-top: 40px;
     padding-bottom: 20px;
}

/******************************************
/* Header                   
/*******************************************/

header{
     width: 100%;
     padding:20px 0px;
}
.banner{
     margin: 11% auto 0px auto;
     border-left: 3px solid #cabcc4;
     border-right: 3px solid #cabcc4;
}

header h1
, header h2
, header h4
, header h5 {
     padding: 0 0 20px 20px;
}

.breadcrumbs{
     padding: 20px 0 0 20px;
}
/******************************************
/* Footer                   
/*******************************************/
footer{
     border-top: 2px solid #e3e3de;
     padding-top: 10px;
}
footer span{
     margin-left: 20px;

}
footer .branding{
     font-style:italic; 
     float:right;
     width: 30%;
}
footer .legal{
     width: 70%;
     float: left;
}

footer a
,footer a:visited
,footer a:hover{
     text-decoration: none;
}

/******************************************
/* Nav                   
/*******************************************/
nav {
     position: fixed;
     top:0px;
     width: 100%;
     border-bottom: 10px solid rgba(245,244,243,.25);
}
nav ul{
     margin: 0px 10%;
}
  nav
, nav ul li:hover ul{
     -mox-background-clip: padding-box;
     -webkit-background-clip: padding-box;
     background-clip: padding-box;
}

nav ul li{
     display: inline-block;
     margin: 0px 20px 0px 0;
}

nav ul li ul{
     display: none;
     position: absolute;
     width: 25%;
     margin-left: 0px;
     border: 10px solid rgba(245,244,243,.25);
     border-top: 27px solid transparent;
}
nav ul li ul li{
     padding-left: 20px;
     margin: 0;
     width: 100%;
}

nav ul li:hover ul{
     display: block;
}
nav ul li:hover > ul::before{
     border: 10px solid transparent;
     position: absolute;
     border-bottom-color:#e3e3de;
     height: 0px;
     width: 0px;
     content: " ";
     top:-19px;
     left:30px;
}

nav ul li:hover a{
     text-decoration: none;
}

nav ul li a{
     text-transform: uppercase;
     text-decoration: none;
}
nav ul li ul li a{
     text-transform: capitalize;
}
nav ul li:hover ul li ul{
     display: block;
     position: static;
     font-style: italic;
     border: none;
     padding-top: 5px;
     width: 100%;
}

li .fa-search{
     height: 27px;
     padding: 3px 3px 6px 3px;
}
nav input{
     border: none;
     width: 50px;
     height:27px;
     outline: none;
}
nav .top-nav{
     width: 100%;
}
nav .top-nav h3
,nav .top-nav div{
     padding: 20px 0;
     margin-left: 10%;
     float:left;
}
/******************************************
/*  Buttons                
/*******************************************/
button{
     font-weight: bold;
     background: none;
     border: none;
}
.primary-btn{
     padding: 10px 10px 11px 10px;
     border: 3px solid #dc1944;
}

.secondary-btn{
     padding: 13px 13px 14px 13px;
     color: black;
     border: 3px solid grey;
}

.hamburger{
     height:30px;
     width:30px;
     padding:5px;
     display: none;

}
nav .close-btn{
     display: none;
}

.hamburger div{
     border:1px solid #fff;
     height:1px;
     width:80%;
     margin-top:4px;
     margin-left:1px;
}

.close-btn{
     padding-left: 5px;
     width: 30px; 
     height: 29px;

}
  .slideshow-arrow-left
, .slideshow-arrow-right{
     height: 50px;
     width: 50px;
     padding: 5px 14px;
     border: 3px solid transparent;
}
  .slideshow-arrow-left:hover
, .slideshow-arrow-right:hover
, .slideshow-arrow-right.hover-arrow
, .slideshow-arrow-left.hover-arrow{
     border: 3px solid #dc1944;
}

/******************************************
/* Background Colors - Add the element that you want to recive the color to the list of elements for that background color               
/*******************************************/

.white
, .close-btn:hover
, .close-btn-hover
, .hamburger div
, nav .top-nav
, .loginBox
, .login:hover{
     background-color: #fff;
}
.pale-gray
,nav input
,li .fa-search{
     background: #f2f1ef;
}
.light-gray
, nav
, table
, nav ul li ul
, .color-title-bar
, #login{
     background-color: #e3e3de;
}
.med-gray
, .secondary-hover
, .secondary-btn:hover
, .feature-headline{
     background-color: #a7a5a0;
}
.dark-gray{
     background-color: #535449;
}
.black{
     background-color: #000;
}

.primary-color
, .approved > div
, .submit-btn
, .close-btn
, .hamburger
, .hover
, .primary-btn:hover{
     background-color: #dc1944;
}
.secondary-1{
     background-color: #EDB521;
}
.secondary-2
, .chart-label-reversed
, .status-container
, .reversed
, header
, .login{
     background-color: #76546C;
}
.tertiary-1{
     background-color: #EE9521;
}
.tertiary-2{
     background-color: #2E9678;
}
.tertiary-3{
     background-color: #3074A6;
}
.tertiary-4{
     background-color: #A0BB3B;
}
.tertiary-5{
     background-color: #B25294;
}
.faq-holder{
     background-color: #EDB521;
}

/******************************************
/* Font Colors                   
/*******************************************/
.f-white
, .submit-btn
, .reversed a
, .reversed
, .close-btn
, .secondary-hover
, .secondary-btn:hover
, .hover
, .primary-btn:hover
, .banner a
, header
, .status-container
, .approved > div
, .chart-label-reversed
, .faq-holder span
, .feature-headline
, .login{
     color: #fff;
}
footer a
,footer a:visited
,footer{
     color: #535449;
}
.login:hover{
     color: #76546C;
}

  .slideshow-arrow-left
, .slideshow-arrow-right
, .close-btn:hover
, .close-btn-hover
, .primary-btn
, nav ul li:hover ul li ul li ul li a
, a
, label.error
, .error-msg
, footer a:hover{
     color: #dc1944;
}
nav .top-nav{
     color:#a7a5a0;
}
li .fa-search{
     color: #000;
}
.submitted > div{
     color: #76546C;
}


/******************************************
/* TEXT SECTION                   
/*******************************************/
#text > * {
     margin: 2% 0;
}

/******************************************
/* BANNERS                   
/*******************************************/
.feature-headline{
     padding:20px;
     display: inline-block;
     text-align: center;
}
/******************************************
/* FAQ                   
/*******************************************/

section#faq a{
     text-decoration: none;
}

.faq-holder{
     height: 225px;
     width: 225px;
     padding-top: 80px;
       /* Safari 3-4, iOS 1-3.2, Android 1.6- */
     -webkit-border-radius: 50%; 
     /* Firefox 1-3.6 */
     -moz-border-radius: 50%; 
     /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
     border-radius: 50%; 
     font-size: 72px;
     line-height: 72px;
     text-align: center;
}
.faq-holder span{
     text-decoration: none;
     font-weight: bold;
}
/******************************************
/* WIDGETS                   
/*******************************************/
.chart-label{
     font-size:14px;
}
.chart-label-reversed{
     padding: 9px 12px;
     width: 45px;
}

.service-label{
     text-align: center;
     font-size: 22px;
}
.error-msg{
     background-color: rgba( 220, 25, 68, .1);
     padding: 10px;
}
/******************************************
/* Status Containers              
/*******************************************/
.status-container{
     padding: 20px;
     width: 200px;
     margin:10px;
     font-size: 20px;
}

.approved > div
, .submitted > div{
     border-radius: 50%;
     height: 75px;
     width: 75px;
     padding: 7%;
}

.submitted > div{
     background-color: rgba(255,255,255, 0.1);
}

.submit-btn{
     padding: 20px;
}

/******************************************
/* TABLE                   
/*******************************************/
table{
     width: 100%;
}
td{
     text-transform: capitalize;
     padding: 10px;
     margin: 8px;
}

thead td::after{
     border: 5px solid transparent;
     border-top-color:#a7a5a0; 
     display: inline-block;
     margin: 0px 0px 1px 8px;
     height: 0px;
     width: 0px;
     content: " ";

}
/******************************************
/* Login                   
/*******************************************/
#login{
     padding: 10px 0px;
     border-top: 10px solid rgba(211,211,211,.7);
     border-bottom: 10px solid rgba(211,211,211,.7);
     width: 550px;
     margin: 15% auto 0px auto;
}

.loginBox{
     padding: 3%;
}
.login{
     border:none;
     width: 75px;
     height: 33px;
     padding: 5px;
     margin: 2% 30% 2% 0px;
}
.login:hover{
     border: 3px solid #76546C;
}
#login-holder{
     padding: 10%;
     background: url('http://placekitten.com/1024/760');
}
#login h1{
     margin: 10px;
}
#login input{
     width:100%;
}
/******************************************
/* Forms                   
/*******************************************/
label{
     font-weight: bold;
     display: block;
}
input{
     border: 2px solid #f2f1ef;
     margin-top: 20px;
     margin-bottom: 10px;
     padding: 5px;
}
input.error{
     border: 2px solid #dc1944;
}
.submit-confirm{
     display: none;
     width: 50%;
     position: fixed;
     top: 25%;
     left: 25%;
     z-index: 1000;
     padding: 10px 0;
}
.overlay{
  display: none;
  content: " ";
  position: fixed; 
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.2);
  z-index: 3;
}

.submit-confirm h3{
     padding:30px 20px 10px 20px;
}
.submit-confirm .close-btn{
     float: right;
     margin: 10px;
}
.submit-confirm p{
     width: 100%;
     padding: 20px;
}


/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/

.color-title-bar{
     padding: 5px;
}
#header-reversed-holder{
     padding: 20px;
}

/******************************************
/* MOBILE STYLES                   
/*******************************************/

/* For tablets */
@media only screen and (max-width : 768px) {
     nav{
          width: 6%;
          top:0;
          right: 0;
          position: fixed;
          height: 100%;
          overflow: scroll;
          border-bottom: none;
          padding: 0px;
          /* slides the nav bar in and out*/
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s;
     }

     nav.open{
          width: 40%;
     }
     .top-nav{
          display: none;
     }
     .banner{
          margin-top: 1%;
     }

     nav ul{
          width: 100%;
          overflow: hidden;
          padding: 0px;
          margin: 0px;
          border-bottom: 1px solid black;
     }
     nav ul li{
          display: block;
          margin-right: 0px;
     }
     nav ul li a{
          padding-left: 20px;
          padding-top: 20px;
     }    
     nav ul li ul{
          display: none;
          position: static;
          border: none;
          width: 100%;
          background-color: #f5f4f3;
          margin-top: 15px;
     }

     nav ul li:hover > ul::before{
          border: 10px solid transparent;
          position: relative;
          border-bottom-color:#f5f4f3; 
          display: block;
          height: 0px;
          width: 0px;
          content: " ";
          top:-20px;
          left: 30px
     }
     nav ul li ul li{
           padding: 0px;
           margin-left: 0px;
     }


     nav ul li ul li a
     , nav ul li ul li ul li{
          padding-top: 0px;
          margin-left: 20px;
     }
     nav ul li ul li:hover ul::before{
          border: none;
          position: relative;
          height: 0px;
          width: 0px;
          content: "";
          top:-20px;
          left: 30px
     }

     nav ul li:hover ul li ul{
          display: none;
          position: static;
          font-style: italic;
          padding-top: 0px;
          width: 100%;
     }
     nav ul li:hover ul li:hover ul{
          display: inline-block;
     }
     nav ul li:hover ul li ul li ul li a{
          color: #000;
     }
     nav .fa-search{
          margin-left: 20px;
     }
     nav input{
          width: 80%;
     }
     nav ul li ul li a:hover
     , nav ul li ul li ul li ul li a:hover{
          color: #dc1944;
     }
     .show,
     nav .close-btn.show{
          display: block;
          margin-left: 3%;
          z-index: 1000;
          margin-top: 5%;
     }
     .hide{
          /* allows the nav items to be hidden when the nav menu is hidden*/
          display: none;
     }

}
/* For mobile devices */
@media only screen and (max-width : 460px) {
     nav.open{
          width: 60%;
     }
}



